// Colors
$primary-color: #3498db;
$secondary-color: #e74c3c;

// Fonts
$body-font: 'Arial', sans-serif;
$heading-font: 'Helvetica', sans-serif;

$secondary-font: 'Manrope', sans-serif;
$primary-font: 'Montserrat', sans-serif;

// Spacing
$spacing-unit: 1rem;

