.header {
  width: 100%;
  position: relative;
  min-height: 160px;
  display: flex;
  padding: 0px;
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 999;
  transition: .3s min-height ease-in-out;

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    // opacity: .4;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    content: "";
    left: 0;
    top: 0;
    background: rgb(2,1,82);
    background: -moz-linear-gradient(90deg, rgba(2,1,82,1) 0%, rgba(2,1,74,1) 6%, rgba(1,1,55,1) 39%, rgba(2,1,69,1) 69%, rgba(1,1,50,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,1,82,1) 0%, rgba(2,1,74,1) 6%, rgba(1,1,55,1) 39%, rgba(2,1,69,1) 69%, rgba(1,1,50,1) 100%);
    background: linear-gradient(90deg, rgba(2,1,82,1) 0%, rgba(2,1,74,1) 6%, rgba(1,1,55,1) 39%, rgba(2,1,69,1) 69%, rgba(1,1,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020152",endColorstr="#010132",GradientType=1);
    // border-bottom: 2px solid #7f8ff636;

    }
  
  .container {
    height: 100%;
    position: relative;
    z-index: 8;
  }

  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    align-items: center;
  }
  .logo-wrapper{
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    .logo {
      position: relative;
      width: 200px;
      transition: .3s width ease;
      will-change: width;
      margin-left: -20px;
      &::after {
        width: 100%;
        position: relative;
        padding-bottom: calc(109 / 200 * 100%);
        display: block;
        content: "";
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include min(lg) {
        margin-left: 0;
      }
    }
  }

  .menu {
    display: none;
    border-radius: 60px;
    border: 1px solid #3e3e7c;
    overflow: hidden;
    background: linear-gradient(
      91deg,
      rgba(20, 20, 73, 0.36) 49.35%,
      rgba(20, 20, 73, 0) 102.29%
    );
    backdrop-filter: blur(21px);
    @media (min-width: 1200px) {
      display: flex;
    }
    width: auto;
    ul {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding: 0;
        a {
          display: flex;
          padding: 15px 30px;
          text-decoration: none;
          color: #c4c4dd;
          font-family: $secondary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.14px;
          border-radius: 3px;
          overflow: hidden;
          position: relative;
          span {
            position: relative;
            z-index: 1;
          }
          &::after {
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            position: absolute;
            background-color: #c4c4dd;
            transition: 0.3s transform ease-in-out;
            transform-origin: right;
            opacity: 0.1;
            pointer-events: none;
          }
          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
          &.active {
            color: rgba(75, 167, 252, 1);
          }
          span {
            position: relative;
            z-index: 6;
          }
        }
      }
    }
  }

  .call-us {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
    }
    a {
      display: inline-flex;
      padding: 11px 26px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.486);
      color: #fff;
      /* Headline_6_Bold */
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.24px;
      text-decoration: none;
      transition: 0.3s all ease-in-out;
      &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #fff;
      }
    }
  }
  &.active {
    min-height: 90px;
    &::after {
      opacity: .95;
    }
    .logo{
      width: 150px;
    }
  }
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  @media (min-width: 1200px) {
    display: none;
  }
  .hamburger-menu {
    width: 35px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 2px; /* Adjust the height as needed */
    background-color: #fff; /* Adjust the color as needed */
    transition: 0.4s; /* Add a transition for animation */
  }

  /* Styles for animating the hamburger into an "X" */
  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 8px);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -8px);
  }
}

.mobile-menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 9999;
  .mobile-menu-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    max-width: 350px;
    background-color: #00002e;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.3s all ease-in-out;
    pointer-events: none;
    ul {
      list-style: none;
      padding: 20px;
      width: 100%;
      li {
        margin: 20px 0;
        width: 100%;
        a {
          font-size: 18px;
          display: flex;
          width: 100%;
          text-decoration: none;
          color: #fff;
          position: relative;
          &::after {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-top: 4px solid transparent; /* Height of the arrow */
            border-bottom: 4px solid transparent; /* Height of the arrow */
            border-left: 5px solid #fff;
          }
        }
      }
    }
  }
  .call-btn {
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00002e;
    bottom: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(77, 77, 77, 0.169);
    font-weight: 500;
  }

  .mobile-menu-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    pointer-events: none;
  }


  // active class 
  &.active {
    
    .mobile-menu-overlay {
      opacity: 0.3;
      pointer-events: all;
    }
    .mobile-menu-main {
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
