.testing{
    width: 100%;
    position: relative;
    padding: 10px 0px 50px;
    background-color: #5F47F8;
    color: #fff;
    overflow: hidden;
    @include min(lg){
        padding: 50px 0px;
    }
     .row {
            flex-direction: column-reverse;
            @include min(lg){
                flex-direction: row;
            }
            & > div{
                display: flex;
                align-items: center;
            }
        }

    .content-area{
        width: 100%;
        display: flex;
        flex-direction: column;
        .title{
            width: 100%;
            line-height: 150%;
            margin-bottom: 14px;
            max-width: 300px;
            @include min(sm){
                max-width: 430px;
            }
            @include min(3xl){
                max-width: 570px;
            }
        }
        .description{
            width: 100%;
            max-width: 659px;
            line-height: 165%;
            opacity: .9;
        }
    }

    .image-main{
        width: 100%;
        max-width: 250px;
        position: relative;
        margin: 60px auto;
        @include min(lg){
            max-width: 380px;
        }
        .image-wrapper{
            width: 100%;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            &::after{
                display: block;
                width: 100%;
                position: relative;
                padding-bottom: 100%;
                content: '';
            }
            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .bg{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(1.3);
            animation: rotate 20s linear infinite;
            display: block;
        }
    }
}

@keyframes rotate {
    0% {
      transform:  scale(1.3) rotate(0deg);
    }
    100% {
      transform:  scale(1.3) rotate(360deg);
    }
  }




.testing {
    &.anim{
      
  
      .title,
      .description{
        display: inline-block;
        transform: translate3d(0px, 30px, 0px);
        transition-delay: var(--delay, 0s);
        opacity: 0;
        transition: .6s transform ease-in-out, 1.2s opacity ease-in-out;
        will-change: transform, opacity;
      }

      .image-wrapper{
        transform: scale(.8) rotate(10deg);
        opacity: 0;
        transition: .6s transform ease-in-out, 1.2s opacity ease-in-out;
        will-change: transform, opacity;
      }
      &.in-viewport{
        .title,
        .description,
        .nav-link span{
            transform: translate3d(0px, 0px, 0px);
            transition-delay: var(--delay, 0s);
            opacity: 1;
        }
        .image-wrapper{
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
    }
    }
  }